# Ok Cupid Dataset EDA

This dataset was picked on the name alone to do an initial clean and EDA.
The dataset is completly unfamiliar to me - I want to practice familiarising myself with the set and seeing what I can learn about it, to see what further investigation can stem from it.

In [103]:
# initial imports and check file is readable
import pandas as pd
okcupid = pd.read_csv('OkCupid_kaggle_dataset.zip')

In [104]:
pd.set_option('display.max_columns', None) # use this to display ALL columns and not get a ... midway
print(okcupid.head((10)))

   age     status sex orientation       body_type               diet  \
0   22     single   m    straight  a little extra  strictly anything
1   35     single   m    straight         average       mostly other
2   38  available   m    straight            thin           anything
3   23     single   m    straight            thin         vegetarian
4   29     single   m    straight        athletic                NaN
5   29     single   m    straight         average    mostly anything
6   32     single   f    straight             fit  strictly anything
7   31     single   f    straight         average    mostly anything
8   24     single   f    straight             NaN  strictly anything
9   37     single   m    straight        athletic    mostly anything

       drinks      drugs                          education  \
0    socially      never      working on college/university
1       often  sometimes              working on space camp
2    socially        NaN     graduated from masters program
3    socially        NaN      working on college/university
4    socially      never  graduated from college/university
5    socially        NaN  graduated from college/university
6    socially      never  graduated from college/university
7    socially      never  graduated from college/university
8    socially        NaN  graduated from college/university
9  not at all      never        working on two-year college

             ethnicity  height  income                             job  \
0         asian, white    75.0      -1                  transportation
1                white    70.0   80000            hospitality / travel
2                  NaN    68.0      -1                             NaN
3                white    71.0   20000                         student
4  asian, black, other    66.0      -1     artistic / musical / writer
5                white    67.0      -1  computer / hardware / software
6         white, other    65.0      -1                             NaN
7                white    65.0      -1     artistic / musical / writer
8                white    67.0      -1                             NaN
9                white    65.0      -1                         student

        last_online                         location  \
0  2012-06-28-20-30  south san francisco, california
1  2012-06-29-21-41              oakland, california
2  2012-06-27-09-10        san francisco, california
3  2012-06-28-14-22             berkeley, california
4  2012-06-27-21-26        san francisco, california
5  2012-06-29-19-18        san francisco, california
6  2012-06-25-20-45        san francisco, california
7  2012-06-29-12-30        san francisco, california
8  2012-06-29-23-39    belvedere tiburon, california
9  2012-06-28-21-08            san mateo, california

                                offspring                       pets  \
0  doesn't have kids, but might want them  likes dogs and likes cats
1  doesn't have kids, but might want them  likes dogs and likes cats
2                                     NaN                   has cats
3                       doesn't want kids                 likes cats
4                                     NaN  likes dogs and likes cats
5  doesn't have kids, but might want them                 likes cats
6                                     NaN  likes dogs and likes cats
7       doesn't have kids, but wants them  likes dogs and likes cats
8                       doesn't have kids  likes dogs and likes cats
9                                     NaN  likes dogs and likes cats

                                    religion  \
0      agnosticism and very serious about it
1   agnosticism but not too serious about it
2                                        NaN
3                                        NaN
4                                        NaN
5                                    atheism
6                                        NaN
7                               christianity
8  christianity but not too serious about it
9              atheism and laughing about it

                                 sign         smokes  \
0                              gemini      sometimes
1                              cancer             no
2  pisces but it doesn&rsquo;t matter             no
3                              pisces             no
4                            aquarius             no
5                              taurus             no
6                               virgo            NaN
7                         sagittarius             no
8  gemini but it doesn&rsquo;t matter  when drinking
9  cancer but it doesn&rsquo;t matter             no

                                              speaks  \
0                                            english
1  english (fluently), spanish (poorly), french (...
2                               english, french, c++
3                           english, german (poorly)
4                                            english
5                 english (fluently), chinese (okay)
6                                            english
7                            english, spanish (okay)
8                                            english
9                                 english (fluently)

                                              essay0  \
0  about me:  i would love to think that i was so...
1  i am a chef: this is what that means. 1. i am ...
2  i'm not ashamed of much, but writing public te...
3          i work in a library and go to school. . .
4  hey how's it going? currently vague on the pro...
5  i'm an australian living in san francisco, but...
6  life is about the little things. i love to lau...
7                                                NaN
8                                                NaN
9  my names jake. i'm a creative guy and i look f...

                                              essay1  \
0  currently working as an international agent fo...
1  dedicating everyday to being an unbelievable b...
2  i make nerdy software for musicians, artists, ...
3          reading things written by old dead people
4                         work work work work + play
5  building awesome stuff. figuring out what's im...
6                         digging up buried treasure
7  writing. meeting new people, spending time wit...
8  oh goodness. at the moment i have 4 jobs, so i...
9  i have an apartment. i like to explore and che...

                                              essay2  \
0  making people laugh. ranting about a good salt...
1  being silly. having ridiculous amonts of fun w...
2  improvising in different contexts. alternating...
3  playing synthesizers and organizing books acco...
4  creating imagery to look at: http://bagsbrown....
5  imagining random shit. laughing at aforementio...
6  frolicking witty banter using my camera to ext...
7  remembering people's birthdays, sending cards,...
8                                                NaN
9  i'm good at finding creative solutions to prob...

                                              essay3  \
0  the way i look. i am a six foot half asian, ha...
1                                                NaN
2  my large jaw and large glasses are the physica...
3                  socially awkward but i do my best
4            i smile a lot and my inquisitive nature
5  i have a big smile. i also get asked if i'm we...
6                              i am the last unicorn
7  i'm rather approachable (a byproduct of being ...
8  i'm freakishly blonde and have the same name a...
9                                          i'm short

                                              essay4  \
0  books: absurdistan, the republic, of mice and ...
1  i am die hard christopher moore fan. i don't r...
2  okay this is where the cultural matrix gets so...
3  bataille, celine, beckett. . . lynch, jarmusch...
4  music: bands, rappers, musicians at the moment...
5  books: to kill a mockingbird, lord of the ring...
6  i like books. ones with pictures. reading them...
7  i like: alphabetized lists, aquariums, autobio...
8  i am always willing to try new foods and am no...
9  i like some tv. i love summer heights high and...

                                              essay5  \
0                  food. water. cell phone. shelter.
1  delicious porkness in all of its glories. my b...
2  movement conversation creation contemplation t...
3                                                NaN
4                                                NaN
5  like everyone else, i love my friends and fami...
6  laughter amazing people in my life color curio...
7  friends, family, notebook/pen, books, music, t...
8  sports/my softball glove coffee. because nobod...
9  music, my guitar contrast good food my bike my...

                                              essay6  \
0                        duality and humorous things
1                                                NaN
2                                                NaN
3                         cats and german philosophy
4                                                NaN
5  what my contribution to the world is going to ...
6  synchronicity  there is this whole other realm...
7                   things that amuse and inspire me
8                                                NaN
9                                         you should

                                              essay7  \
0  trying to find someone to hang out with. i am ...
1                                                NaN
2  viewing. listening. dancing. talking. drinking...
3                                                NaN
4                                                NaN
5                               out with my friends!
6  plotting to take over the world with my army o...
7  out and about or relaxing at home with a good ...
8  in or out... drinking with friends, maybe a ba...
9                                     send a message

                                              essay8  \
0  i am new to california and looking for someone...
1  i am very open and will share just about anyth...
2  when i was five years old, i was known as "the...
3                                                NaN
4                                                NaN
5  i cried on my first day at school because a bi...
6                            my typical friday night
7                                                NaN
8  potential friends/lovers/people who come in co...
9                                        and say hi.

                                              essay9
0  you want to be swept off your feet! you are ti...
1                                                NaN
2  you are bright, open, intense, silly, ironic, ...
3                              you feel so inclined.
4                                                NaN
5                                    you're awesome.
6                                                NaN
7                                                NaN
8  http://www.youtube.com/watch?v=4dxbwzuwsxk let...
9                             you can rock the bells

In [105]:
okcupid.shape

(59946, 31)

This set has 59946 rows and 31 columns

## Duplicates check

In [106]:
duplicates = okcupid.duplicated()
print(duplicates.value_counts())

False    59946
dtype: int64

The number of false duplicates equals the number of rows - i.e. there are no dupicated rows

## Tidying/Wrangling

In [107]:
print(okcupid.columns)

Index(['age', 'status', 'sex', 'orientation', 'body_type', 'diet', 'drinks',
       'drugs', 'education', 'ethnicity', 'height', 'income', 'job',
       'last_online', 'location', 'offspring', 'pets', 'religion', 'sign',
       'smokes', 'speaks', 'essay0', 'essay1', 'essay2', 'essay3', 'essay4',
       'essay5', 'essay6', 'essay7', 'essay8', 'essay9'],
      dtype='object')

In [108]:
okcupid_variables = pd.DataFrame(okcupid.info())

# okcupid_variables = pd.DataFrame(okcupid.info()) #converted to a DataFrame to send to an Excel file

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59946 non-null  int64
 1   status       59946 non-null  object
 2   sex          59946 non-null  object
 3   orientation  59946 non-null  object
 4   body_type    54650 non-null  object
 5   diet         35551 non-null  object
 6   drinks       56961 non-null  object
 7   drugs        45866 non-null  object
 8   education    53318 non-null  object
 9   ethnicity    54266 non-null  object
 10  height       59943 non-null  float64
 11  income       59946 non-null  int64
 12  job          51748 non-null  object
 13  last_online  59946 non-null  object
 14  location     59946 non-null  object
 15  offspring    24385 non-null  object
 16  pets         40025 non-null  object
 17  religion     39720 non-null  object
 18  sign         48890 non-null  object
 19  smokes       54434 non-null  object
 20  speaks       59896 non-null  object
 21  essay0       54458 non-null  object
 22  essay1       52374 non-null  object
 23  essay2       50308 non-null  object
 24  essay3       48470 non-null  object
 25  essay4       49409 non-null  object
 26  essay5       49096 non-null  object
 27  essay6       46175 non-null  object
 28  essay7       47495 non-null  object
 29  essay8       40721 non-null  object
 30  essay9       47343 non-null  object
dtypes: float64(1), int64(2), object(28)
memory usage: 14.2+ MB

As there are alot of variables to consider types and further actions for, I'd like to track these in an Excel sheet
To do this, I plan on exporting okcupid.info() to an Excel sheet directly

In [109]:
#from xlsxwriter import Workbook
#okcupid_variables.to_excel('okcupid_variables.xlsx', engine='xlsxwriter')
#okcupid_variables.to_csv('okcupid_variables.csv', sep=',', header=True) # works but loses all the data

In [110]:
#print(okcupid_variables.head()) # shows okcupid_variables is actually empty, so I didnt lose data in the CSV there just isnt any

This is something I want to keep in mind but will shelve for now as it'll take me more time to learn than save me at the moment.

Next I'll inspect each variable

0 'age' appears complete with Dtype int64 - ready to investiagte numerically
1 'status' - complete, object - check the unique types with .value_counts()
2 & 3 'sex' & 'orientation' - complete, object - check the unique types with .value_counts()

4 'body_type' - 54650 entries, therefore incomplete - check the unique types with .value_counts()
5 'diet' - 35551 - .value_counts()

In [111]:
okcupid.status.value_counts()

single            55697
seeing someone     2064
available          1865
married             310
unknown              10
Name: status, dtype: int64

'Status' is Relationship Status.
Categories are:
* Single
* Seeing somone
* Available
* Married
* Unknown - this one needs further investigation: unknown as in profile hasn't added their status? (from code snippet below I'd say yes)

In [112]:
#status_unknowns = okcupid[okcupid.status=='unknown']
#print(status_unknowns)
#print(len(status_unknowns))

In [113]:
okcupid.sex.value_counts()

m    35829
f    24117
Name: sex, dtype: int64

Sex is only in two vales: 'm' or 'f'

In [114]:
okcupid.orientation.value_counts()

straight    51606
gay          5573
bisexual     2767
Name: orientation, dtype: int64

Orientation is 'straight', 'gay' and 'bisexual'
Seen here large majority is straight, followed by gay then bisexual

In [115]:
okcupid.body_type.value_counts()

average           14652
fit               12711
athletic          11819
thin               4711
curvy              3924
a little extra     2629
skinny             1777
full figured       1009
overweight          444
jacked              421
used up             355
rather not say      198
Name: body_type, dtype: int64

average           14652, 
fit               12711, 
athletic          11819, 
thin               4711, 
curvy              3924, 
a little extra     2629, 
skinny             1777, 
full figured       1009, 
overweight          444, 
jacked              421, 
used up             355, 
rather not say      198

In [116]:
okcupid.diet.value_counts()

mostly anything        16585
anything                6183
strictly anything       5113
mostly vegetarian       3444
mostly other            1007
strictly vegetarian      875
vegetarian               667
strictly other           452
mostly vegan             338
other                    331
strictly vegan           228
vegan                    136
mostly kosher             86
mostly halal              48
strictly halal            18
strictly kosher           18
halal                     11
kosher                    11
Name: diet, dtype: int64

Variety of diet types, expaned by some having 'mostly...' and 'strictly...' categories

In [117]:
okcupid.drinks.value_counts()

socially       41780
rarely          5957
often           5164
not at all      3267
very often       471
desperately      322
Name: drinks, dtype: int64

In [118]:
okcupid.drugs.value_counts()

never        37724
sometimes     7732
often          410
Name: drugs, dtype: int64

In [119]:
okcupid.education.value_counts()

graduated from college/university    23959
graduated from masters program        8961
working on college/university         5712
working on masters program            1683
graduated from two-year college       1531
graduated from high school            1428
graduated from ph.d program           1272
graduated from law school             1122
working on two-year college           1074
dropped out of college/university      995
working on ph.d program                983
college/university                     801
graduated from space camp              657
dropped out of space camp              523
graduated from med school              446
working on space camp                  445
working on law school                  269
two-year college                       222
working on med school                  212
dropped out of two-year college        191
dropped out of masters program         140
masters program                        136
dropped out of ph.d program            127
dropped out of high school             102
high school                             96
working on high school                  87
space camp                              58
ph.d program                            26
law school                              19
dropped out of law school               18
dropped out of med school               12
med school                              11
Name: education, dtype: int64

33 different categories, ranging from 23959 to 11 entries

In [120]:
okcupid.ethnicity.value_counts()

white                                                                 32831
asian                                                                  6134
hispanic / latin                                                       2823
black                                                                  2008
other                                                                  1706
                                                                      ...
middle eastern, indian, white                                             1
asian, middle eastern, black, white, other                                1
asian, middle eastern, indian, hispanic / latin, white, other             1
black, native american, indian, pacific islander, hispanic / latin        1
asian, black, indian                                                      1
Name: ethnicity, Length: 217, dtype: int64

217 different values - many mixes of ethnicities

In [121]:
okcupid.height.describe()

count    59943.000000
mean        68.295281
std          3.994803
min          1.000000
25%         66.000000
50%         68.000000
75%         71.000000
max         95.000000
Name: height, dtype: float64

In [122]:
okcupid.height.min()

1.0

Height looks to have some erroneous entries as the min value is 1. 

Assuming unit to be inches

In [138]:
profile_heights = okcupid[okcupid.height < 50]
print(profile_heights.height)
print(len(profile_heights))

7098     36.0
7786     43.0
12193     8.0
12330    36.0
18583    36.0
18832     3.0
20010    36.0
20334    42.0
22963    36.0
23767     6.0
26191    47.0
27485    49.0
29934    48.0
30498    36.0
31158    36.0
36801    37.0
37111     9.0
44218    37.0
45570    36.0
45959     1.0
47583    43.0
47793    36.0
48280    26.0
49022    48.0
55600    36.0
56287     4.0
57606    36.0
Name: height, dtype: float64
27

In [128]:
import seaborn as sns
import matplotlib.pyplot as plt

In [139]:
#sns.histplot(x='height', data=profile_heights)
#plt.show()

There are 4 entries under 10 inches. Investigate what to do with these results. Look at the rest of their entries

In [141]:
profile_heights = okcupid[okcupid.height < 10]
print(profile_heights)

       age  status sex orientation body_type               diet       drinks  \
12193   30  single   f    straight       NaN  mostly vegetarian     socially
18832   39  single   m    straight  athletic                NaN     socially
23767   32  single   f    straight      thin    mostly anything  desperately
37111   25  single   m    straight       fit    mostly anything     socially
45959   36  single   m    straight       NaN                NaN   very often
56287   25  single   f    straight       NaN                NaN        often

       drugs                          education  \
12193    NaN          graduated from space camp
18832  never     graduated from masters program
23767    NaN            working on ph.d program
37111  never  graduated from college/university
45959  never  graduated from college/university
56287  often              working on space camp

                                ethnicity  height   income  \
12193                               white     8.0       -1
18832                               asian     3.0       -1
23767                                 NaN     6.0       -1
37111                               asian     9.0  1000000
45959                                 NaN     1.0    80000
56287  pacific islander, hispanic / latin     4.0       -1

                                  job       last_online  \
12193               medicine / health  2012-06-30-03-02
18832  computer / hardware / software  2012-06-24-14-33
23767           entertainment / media  2011-06-29-22-32
37111     artistic / musical / writer  2011-11-15-19-55
45959    science / tech / engineering  2012-06-28-14-18
56287     artistic / musical / writer  2012-06-25-07-32

                        location          offspring  \
12193       berkeley, california  doesn't have kids
18832  san francisco, california                NaN
23767  san francisco, california                NaN
37111      san mateo, california                NaN
45959        oakland, california                NaN
56287  san francisco, california                NaN

                             pets                                   religion  \
12193   likes dogs and likes cats       judaism but not too serious about it
18832                  likes dogs  christianity but not too serious about it
23767     likes dogs and has cats                                agnosticism
37111                         NaN                                        NaN
45959     likes dogs and has cats              judaism and laughing about it
56287  has dogs and dislikes cats                other and laughing about it

                                        sign         smokes  \
12193     taurus but it doesn&rsquo;t matter             no
18832     gemini but it doesn&rsquo;t matter             no
23767                                    NaN             no
37111  leo and it&rsquo;s fun to think about  when drinking
45959  leo and it&rsquo;s fun to think about  when drinking
56287     cancer but it doesn&rsquo;t matter            yes

                                                  speaks  \
12193                                            english
18832  english (fluently), chinese (okay), french (po...
23767  english (fluently), french (okay), german (poo...
37111  english (fluently), chinese (fluently), japane...
45959  english (fluently), c++ (fluently), hebrew (po...
56287               english (fluently), spanish (poorly)

                                                  essay0  \
12193  well, hello and thank you for stopping by my g...
18832  home: i was a happy surprise for my parents. y...
23767  small teller of tall tales. nostalgiaphile. un...
37111  dating me is not for everyone. i will frequent...
45959  i'm a transplant from southern california with...
56287  i love not dancing and portobello mushrooms. a...

                                                  essay1  \
12193  i mostly try to be good at what i do, maintain...
18832  working at a start-up in technology. never rea...
23767  entropologist/enigmatologist/muse/things that ...
37111  in preschool, i was the boy that drew transfor...
45959  living each day as if it'd be my last, and man...
56287                   walking around town left handed.

                                                  essay2  \
12193                                   folding laundry.
18832  online dating. it's the dating in real life th...
23767  the things i don't quit. but only because i te...
37111  besides the obvious stated above: cracking non...
45959  writing, rambling, fixing anything thats break...
56287  being online and starting collections. i am re...

                                                  essay3  \
12193  perhaps my eyes? i'm told they are a unique co...
18832  that i am trying to notice what they are tryin...
23767  something about the eyes-to-face ratio. and th...
37111  the hair. and yes, they're deadly poisonous sp...
45959  my otherwise perfect hair, my half-sleeve tatt...
56287         my long fingers and ability to be awkward.

                                                  essay4  \
12193  i really like memoirs of folks who have persev...
18832  books: espn, 30 rock, kama sutra, spider-man  ...
23767  current train reading = miranda july's _no one...
37111  octobor sky, the matrix, toy story, graves of ...
45959  i enjoy reading louis sachar, james burke, ala...
56287                                      potato skins.

                                                  essay5  \
12193                                                NaN
18832  1)global warming; uhmm, i mean climate change ...
23767     they wouldn't be things. they would be people.
37111  1. my iphone, but that's as far as i'll go wit...
45959  irish whiskey broadband internet my iphone a d...
56287  the six things i could always do without are: ...

                                                  essay6  \
12193  how many more minutes until i can get into my ...
18832   what i am going to write in this online profile.
23767  most everything. sometimes (okay, maybe often)...
37111   art, plans for the future and what's for dinner.
45959  zombies, and ways not to get eaten by them.  m...
56287    moosing, spain, and one of those sugar daddies.

                                                  essay7  \
12193                                          relaxing!
18832  trying to figure out something atypical to do ...
23767  awake. but that's every night. i suppose that ...
37111  out having a great time with my buddies at a s...
45959  peering through the bottom of a whiskey glass....
56287         watching netflix on my computer and uking.

                                                  essay8  \
12193  when i was a kid, i poured myself a glass of r...
18832  -i have mommy issues. -i can time travel. -i a...
23767  i have no idea why i selected this username. (...
37111  i've seen all 3 twilight movies. despite my ha...
45959  i can't stand online dating, or the stigma att...
56287                                   i'm left-handed.

                                                  essay9
12193  you are easy going and big loving. you are a c...
18832  you are super insecure, emotionally vacant, an...
23767  *you're so inclined.  *oh! but if you're the s...
37111  you're not a date rapist you have the capacity...
45959  if you're a ninja (with skills) or a pirate. y...
56287                               you are left-handed.

Other that several haveing no income (not significant when considered with below) the rest of the entries are not suspiscious

Income looks to be broken down into income brackets with -1 being the entry for no income given (and also having the highest count)

In [142]:
okcupid.income.value_counts()

-1          48442
 20000       2952
 100000      1621
 80000       1111
 30000       1048
 40000       1005
 50000        975
 60000        736
 70000        707
 150000       631
 1000000      521
 250000       149
 500000        48
Name: income, dtype: int64

In [158]:
okcupid.job.value_counts()
print('num of entries: ')
print(okcupid.job.value_counts().sum())

null_jobs = okcupid[okcupid.job.isnull()]
print(null_jobs)

num of entries:
51748
       age     status sex orientation body_type               diet    drinks  \
2       38  available   m    straight      thin           anything  socially
6       32     single   f    straight       fit  strictly anything  socially
8       24     single   f    straight       NaN  strictly anything  socially
10      35  available   m    straight   average    mostly anything  socially
28      30     single   m    straight       fit                NaN  socially
...    ...        ...  ..         ...       ...                ...       ...
59926   28     single   f    straight  athletic    mostly anything  socially
59933   30     single   f    straight       NaN                NaN  socially
59935   33     single   f    straight     curvy           anything  socially
59938   48     single   m    straight   average                NaN       NaN
59940   31     single   f    straight       NaN                NaN  socially

       drugs                          education  \
2        NaN     graduated from masters program
6      never  graduated from college/university
8        NaN  graduated from college/university
10       NaN                                NaN
28       NaN     graduated from masters program
...      ...                                ...
59926  never         working on masters program
59933  never                                NaN
59935  never                                NaN
59938    NaN                                NaN
59940  never         working on masters program

                               ethnicity  height  income  job  \
2                                    NaN    68.0      -1  NaN
6                           white, other    65.0      -1  NaN
8                                  white    67.0      -1  NaN
10                                 white    70.0      -1  NaN
28                                   NaN    74.0      -1  NaN
...                                  ...     ...     ...  ...
59926                              white    64.0      -1  NaN
59933                              white    64.0      -1  NaN
59935                              white    67.0      -1  NaN
59938  native american, hispanic / latin    73.0      -1  NaN
59940                     middle eastern    62.0      -1  NaN

            last_online                       location          offspring  \
2      2012-06-27-09-10      san francisco, california                NaN
6      2012-06-25-20-45      san francisco, california                NaN
8      2012-06-29-23-39  belvedere tiburon, california  doesn't have kids
10     2012-06-04-14-59      san francisco, california                NaN
28     2012-06-19-01-22      san francisco, california                NaN
...                 ...                            ...                ...
59926  2012-06-15-16-21           stanford, california                NaN
59933  2012-06-30-09-26      san francisco, california                NaN
59935  2012-06-02-08-16          san mateo, california           has kids
59938  2012-06-14-16-51      san francisco, california  doesn't have kids
59940  2012-07-01-00-40      san francisco, california                NaN

                            pets                                   religion  \
2                       has cats                                        NaN
6      likes dogs and likes cats                                        NaN
8      likes dogs and likes cats  christianity but not too serious about it
10                           NaN                                        NaN
28     likes dogs and likes cats              atheism and laughing about it
...                          ...                                        ...
59926                 likes dogs  christianity but not too serious about it
59933                        NaN                               christianity
59935                        NaN                                        NaN
59938  likes dogs and likes cats                                      other
59940                 likes dogs                                agnosticism

                                          sign         smokes  \
2           pisces but it doesn&rsquo;t matter             no
6                                        virgo            NaN
8           gemini but it doesn&rsquo;t matter  when drinking
10                                      taurus            yes
28                                         NaN             no
...                                        ...            ...
59926                                      NaN             no
59933                                      NaN            NaN
59935  virgo and it&rsquo;s fun to think about  when drinking
59938    leo and it&rsquo;s fun to think about            NaN
59940                              sagittarius             no

                                  speaks  \
2                   english, french, c++
6                                english
8                                english
10                               english
28             english, spanish (poorly)
...                                  ...
59926                            english
59933                            english
59935                 english (fluently)
59938                            english
59940  english (fluently), french, farsi

                                                  essay0  \
2      i'm not ashamed of much, but writing public te...
6      life is about the little things. i love to lau...
8                                                    NaN
10     update: i'm seeing someone, so off the market ...
28     i moved here recently and love this place. i'm...
...                                                  ...
59926                                                NaN
59933  i'm a southern girl from tennesse who moved to...
59935  i am a mom first and foremost. currently separ...
59938  i was born, raised and live in the san francis...
59940  real deal: i am sensitive (sorry, tears includ...

                                                  essay1  \
2      i make nerdy software for musicians, artists, ...
6                             digging up buried treasure
8      oh goodness. at the moment i have 4 jobs, so i...
10     i have three jobs. i've been doing sound and l...
28     settling into a new city, figuring out how bio...
...                                                  ...
59926  i worked in consulting and for nike for a few ...
59933  i'm in human resources for a luxury retail com...
59935  i currently work at safeway. hopefully not for...
59938  i have mostly been working in media arts as an...
59940  right now...watching 'celebrity rehab' and com...

                                                  essay2  \
2      improvising in different contexts. alternating...
6      frolicking witty banter using my camera to ext...
8                                                    NaN
10     hugging, kissing, laughing, motivating people,...
28     making stuff, thinking about stuff and doing s...
...                                                  ...
59926  field hockey working hard and playing hard mee...
59933                       listening and giving advice!
59935                                 a lot of things...
59938  most things creative. having a broad perspecti...
59940  eating chocolate and doing pilates (usually no...

                                                  essay3  \
2      my large jaw and large glasses are the physica...
6                                  i am the last unicorn
8      i'm freakishly blonde and have the same name a...
10                                   my huge goofy smile
28     depends. i've been told my eyes (isn't this th...
...                                                  ...
59926                  my eyes... theyre polka dotted :)
59933                                       my smile :-)
59935  my eyes and then the fact that i am pretty str...
59938                                  i'm approachable.
59940  my hair? eyes? height? curves? dk....my caring...

                                                  essay4  \
2      okay this is where the cultural matrix gets so...
6      i like books. ones with pictures. reading them...
8      i am always willing to try new foods and am no...
10     i'm constantly reading, i read at what my frie...
28     books: 1491. omnivore's dilemma. the amazing a...
...                                                  ...
59926  shows: seinfeld is hysterical! music: oar, dis...
59933  i like any and all types of music, especially ...
59935  i love to read and so i do not have an absolut...
59938  books: lately - eckhart tolle's "a new earth,"...
59940  too many to name ... -a new earth, kite runner...

                                                  essay5  \
2      movement conversation creation contemplation t...
6      laughter amazing people in my life color curio...
8      sports/my softball glove coffee. because nobod...
10               family friends food women music reading
28       cities mountains travel bike friends creativity
...                                                  ...
59926  working out laughing with friends family pando...
59933  wine, college football, sweet tea, family, fri...
59935  my kids my ipod/iphone water my car my mac my ...
59938  other people, my ability to think, the sustena...
59940  1. pilates 2. solo relaxation time (with or wi...

                                                  essay6  \
2                                                    NaN
6      synchronicity  there is this whole other realm...
8                                                    NaN
10     snowboarding, food, women, goofy nerd stuff, a...
28     symbiosis. where to go this weekend. politics....
...                                                  ...
59926   the future but also living in the current moment
59933                     it's not glamorous but...work.
59935                  everything i have and want to do!
59938  how to bring about a healthy and loving world....
59940  how i am gonna answer this question! ...existe...

                                                  essay7  \
2      viewing. listening. dancing. talking. drinking...
6      plotting to take over the world with my army o...
8      in or out... drinking with friends, maybe a ba...
10     having dinner and drinks with friends and/or w...
28     getting ready for the weekend, riding bikes, d...
...                                                  ...
59926  meeting friends for dinner and drinks, laughin...
59933             out for drinks or dinner with friends!
59935  either working, hang in' with my kids or out h...
59938                                      being social.
59940  doing the obvious two things everyone is doing...

                                                  essay8  \
2      when i was five years old, i was known as "the...
6                                my typical friday night
8      potential friends/lovers/people who come in co...
10     i used to wish for a jetpack when blowing out ...
28     i'm a sucker for pictures/youtube videos of ba...
...                                                  ...
59926                                                NaN
59933  embarrassing fact-i love being organized...and...
59935                     hahaha! i'm not telling...yet.
59938  nothing that will be very useful to you or me ...
59940  --is that i sometimes watch reality tv (even t...

                                                  essay9
2      you are bright, open, intense, silly, ironic, ...
6                                                    NaN
8      http://www.youtube.com/watch?v=4dxbwzuwsxk let...
10     you are a complex woman with healthy self-este...
28     you're bright, funny, creative and interesting...
...                                                  ...
59926                                                NaN
59933                    you want to meet someone new :)
59935  you kept reading after currently separated, ar...
59938                          if you feel so compelled.
59940  --if you have the courage to tell me why you c...

[8198 rows x 31 columns]

In [ ]:
last_online

In [ ]:
location

In [ ]:
offspring

In [ ]:
pets

In [ ]:
 religion

In [ ]:
sign

In [ ]:
smokes

In [ ]:
speaks

In [ ]:
essay0-9

In [ ]:
#okcupid.dtypes # done in .info()

In [ ]:
#okcupid.describe()