# Ok Cupid Dataset EDA

This dataset was picked on the name alone to do an initial clean and EDA.
The dataset is completly unfamiliar to me - I want to practice familiarising myself with the set and seeing what I can learn about it, to see what further investigation can stem from it.

In [26]:
# initial imports and check file is readable
import pandas as pd
okcupid = pd.read_csv('OkCupid_kaggle_dataset.zip')

In [27]:
pd.set_option('display.max_columns', None) # use this to display ALL columns and not get a ... midway
print(okcupid.head((10)))

   age     status sex orientation       body_type               diet  \
0   22     single   m    straight  a little extra  strictly anything
1   35     single   m    straight         average       mostly other
2   38  available   m    straight            thin           anything
3   23     single   m    straight            thin         vegetarian
4   29     single   m    straight        athletic                NaN
5   29     single   m    straight         average    mostly anything
6   32     single   f    straight             fit  strictly anything
7   31     single   f    straight         average    mostly anything
8   24     single   f    straight             NaN  strictly anything
9   37     single   m    straight        athletic    mostly anything

       drinks      drugs                          education  \
0    socially      never      working on college/university
1       often  sometimes              working on space camp
2    socially        NaN     graduated from masters program
3    socially        NaN      working on college/university
4    socially      never  graduated from college/university
5    socially        NaN  graduated from college/university
6    socially      never  graduated from college/university
7    socially      never  graduated from college/university
8    socially        NaN  graduated from college/university
9  not at all      never        working on two-year college

             ethnicity  height  income                             job  \
0         asian, white    75.0      -1                  transportation
1                white    70.0   80000            hospitality / travel
2                  NaN    68.0      -1                             NaN
3                white    71.0   20000                         student
4  asian, black, other    66.0      -1     artistic / musical / writer
5                white    67.0      -1  computer / hardware / software
6         white, other    65.0      -1                             NaN
7                white    65.0      -1     artistic / musical / writer
8                white    67.0      -1                             NaN
9                white    65.0      -1                         student

        last_online                         location  \
0  2012-06-28-20-30  south san francisco, california
1  2012-06-29-21-41              oakland, california
2  2012-06-27-09-10        san francisco, california
3  2012-06-28-14-22             berkeley, california
4  2012-06-27-21-26        san francisco, california
5  2012-06-29-19-18        san francisco, california
6  2012-06-25-20-45        san francisco, california
7  2012-06-29-12-30        san francisco, california
8  2012-06-29-23-39    belvedere tiburon, california
9  2012-06-28-21-08            san mateo, california

                                offspring                       pets  \
0  doesn't have kids, but might want them  likes dogs and likes cats
1  doesn't have kids, but might want them  likes dogs and likes cats
2                                     NaN                   has cats
3                       doesn't want kids                 likes cats
4                                     NaN  likes dogs and likes cats
5  doesn't have kids, but might want them                 likes cats
6                                     NaN  likes dogs and likes cats
7       doesn't have kids, but wants them  likes dogs and likes cats
8                       doesn't have kids  likes dogs and likes cats
9                                     NaN  likes dogs and likes cats

                                    religion  \
0      agnosticism and very serious about it
1   agnosticism but not too serious about it
2                                        NaN
3                                        NaN
4                                        NaN
5                                    atheism
6                                        NaN
7                               christianity
8  christianity but not too serious about it
9              atheism and laughing about it

                                 sign         smokes  \
0                              gemini      sometimes
1                              cancer             no
2  pisces but it doesn&rsquo;t matter             no
3                              pisces             no
4                            aquarius             no
5                              taurus             no
6                               virgo            NaN
7                         sagittarius             no
8  gemini but it doesn&rsquo;t matter  when drinking
9  cancer but it doesn&rsquo;t matter             no

                                              speaks  \
0                                            english
1  english (fluently), spanish (poorly), french (...
2                               english, french, c++
3                           english, german (poorly)
4                                            english
5                 english (fluently), chinese (okay)
6                                            english
7                            english, spanish (okay)
8                                            english
9                                 english (fluently)

                                              essay0  \
0  about me:  i would love to think that i was so...
1  i am a chef: this is what that means. 1. i am ...
2  i'm not ashamed of much, but writing public te...
3          i work in a library and go to school. . .
4  hey how's it going? currently vague on the pro...
5  i'm an australian living in san francisco, but...
6  life is about the little things. i love to lau...
7                                                NaN
8                                                NaN
9  my names jake. i'm a creative guy and i look f...

                                              essay1  \
0  currently working as an international agent fo...
1  dedicating everyday to being an unbelievable b...
2  i make nerdy software for musicians, artists, ...
3          reading things written by old dead people
4                         work work work work + play
5  building awesome stuff. figuring out what's im...
6                         digging up buried treasure
7  writing. meeting new people, spending time wit...
8  oh goodness. at the moment i have 4 jobs, so i...
9  i have an apartment. i like to explore and che...

                                              essay2  \
0  making people laugh. ranting about a good salt...
1  being silly. having ridiculous amonts of fun w...
2  improvising in different contexts. alternating...
3  playing synthesizers and organizing books acco...
4  creating imagery to look at: http://bagsbrown....
5  imagining random shit. laughing at aforementio...
6  frolicking witty banter using my camera to ext...
7  remembering people's birthdays, sending cards,...
8                                                NaN
9  i'm good at finding creative solutions to prob...

                                              essay3  \
0  the way i look. i am a six foot half asian, ha...
1                                                NaN
2  my large jaw and large glasses are the physica...
3                  socially awkward but i do my best
4            i smile a lot and my inquisitive nature
5  i have a big smile. i also get asked if i'm we...
6                              i am the last unicorn
7  i'm rather approachable (a byproduct of being ...
8  i'm freakishly blonde and have the same name a...
9                                          i'm short

                                              essay4  \
0  books: absurdistan, the republic, of mice and ...
1  i am die hard christopher moore fan. i don't r...
2  okay this is where the cultural matrix gets so...
3  bataille, celine, beckett. . . lynch, jarmusch...
4  music: bands, rappers, musicians at the moment...
5  books: to kill a mockingbird, lord of the ring...
6  i like books. ones with pictures. reading them...
7  i like: alphabetized lists, aquariums, autobio...
8  i am always willing to try new foods and am no...
9  i like some tv. i love summer heights high and...

                                              essay5  \
0                  food. water. cell phone. shelter.
1  delicious porkness in all of its glories. my b...
2  movement conversation creation contemplation t...
3                                                NaN
4                                                NaN
5  like everyone else, i love my friends and fami...
6  laughter amazing people in my life color curio...
7  friends, family, notebook/pen, books, music, t...
8  sports/my softball glove coffee. because nobod...
9  music, my guitar contrast good food my bike my...

                                              essay6  \
0                        duality and humorous things
1                                                NaN
2                                                NaN
3                         cats and german philosophy
4                                                NaN
5  what my contribution to the world is going to ...
6  synchronicity  there is this whole other realm...
7                   things that amuse and inspire me
8                                                NaN
9                                         you should

                                              essay7  \
0  trying to find someone to hang out with. i am ...
1                                                NaN
2  viewing. listening. dancing. talking. drinking...
3                                                NaN
4                                                NaN
5                               out with my friends!
6  plotting to take over the world with my army o...
7  out and about or relaxing at home with a good ...
8  in or out... drinking with friends, maybe a ba...
9                                     send a message

                                              essay8  \
0  i am new to california and looking for someone...
1  i am very open and will share just about anyth...
2  when i was five years old, i was known as "the...
3                                                NaN
4                                                NaN
5  i cried on my first day at school because a bi...
6                            my typical friday night
7                                                NaN
8  potential friends/lovers/people who come in co...
9                                        and say hi.

                                              essay9
0  you want to be swept off your feet! you are ti...
1                                                NaN
2  you are bright, open, intense, silly, ironic, ...
3                              you feel so inclined.
4                                                NaN
5                                    you're awesome.
6                                                NaN
7                                                NaN
8  http://www.youtube.com/watch?v=4dxbwzuwsxk let...
9                             you can rock the bells

In [28]:
okcupid.shape

(59946, 31)

This set has 59946 rows and 31 columns

## Duplicates check

In [29]:
duplicates = okcupid.duplicated()
print(duplicates.value_counts())

False    59946
dtype: int64

The number of false duplicates equals the number of rows - i.e. there are no dupicated rows

## Tidying/Wrangling

In [30]:
print(okcupid.columns)

Index(['age', 'status', 'sex', 'orientation', 'body_type', 'diet', 'drinks',
       'drugs', 'education', 'ethnicity', 'height', 'income', 'job',
       'last_online', 'location', 'offspring', 'pets', 'religion', 'sign',
       'smokes', 'speaks', 'essay0', 'essay1', 'essay2', 'essay3', 'essay4',
       'essay5', 'essay6', 'essay7', 'essay8', 'essay9'],
      dtype='object')

In [64]:
okcupid_variables = pd.DataFrame(okcupid.info())

# okcupid_variables = pd.DataFrame(okcupid.info()) #converted to a DataFrame to send to an Excel file

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59946 non-null  int64
 1   status       59946 non-null  object
 2   sex          59946 non-null  object
 3   orientation  59946 non-null  object
 4   body_type    54650 non-null  object
 5   diet         35551 non-null  object
 6   drinks       56961 non-null  object
 7   drugs        45866 non-null  object
 8   education    53318 non-null  object
 9   ethnicity    54266 non-null  object
 10  height       59943 non-null  float64
 11  income       59946 non-null  int64
 12  job          51748 non-null  object
 13  last_online  59946 non-null  object
 14  location     59946 non-null  object
 15  offspring    24385 non-null  object
 16  pets         40025 non-null  object
 17  religion     39720 non-null  object
 18  sign         48890 non-null  object
 19  smokes       54434 non-null  object
 20  speaks       59896 non-null  object
 21  essay0       54458 non-null  object
 22  essay1       52374 non-null  object
 23  essay2       50308 non-null  object
 24  essay3       48470 non-null  object
 25  essay4       49409 non-null  object
 26  essay5       49096 non-null  object
 27  essay6       46175 non-null  object
 28  essay7       47495 non-null  object
 29  essay8       40721 non-null  object
 30  essay9       47343 non-null  object
dtypes: float64(1), int64(2), object(28)
memory usage: 14.2+ MB

As there are alot of variables to consider types and further actions for, I'd like to track these in an Excel sheet
To do this, I plan on exporting okcupid.info() to an Excel sheet directly

In [57]:
#from xlsxwriter import Workbook
#okcupid_variables.to_excel('okcupid_variables.xlsx', engine='xlsxwriter')
#okcupid_variables.to_csv('okcupid_variables.csv', sep=',', header=True) # works but loses all the data

In [63]:
#print(okcupid_variables.head()) # shows okcupid_variables is actually empty, so I didnt lose data in the CSV there just isnt any

Empty DataFrame
Columns: []
Index: []

This is something I want to keep in mind but will shelve for now as it'll take me more time to learn than save me at the moment.

Next I'll inspect each variable

0 'age' appears complete with Dtype int64 - ready to investiagte numerically
1 'status' - complete, object - check the unique types with .value_counts()
2 & 3 'sex' & 'orientation' - complete, object - check the unique types with .value_counts()

4 'body_type' - 54650 entries, therefore incomplete - check the unique types with .value_counts()
5 'diet' - 35551 - .value_counts()

In [65]:
okcupid.status.value_counts()

single            55697
seeing someone     2064
available          1865
married             310
unknown              10
Name: status, dtype: int64

'Status' is Relationship Status.
Categories are:
* Single
* Seeing somone
* Available
* Married
* Unknown - this one needs further investigation: unknown as in profile hasn't added their status? (from code snippet below I'd say yes)

In [73]:
#status_unknowns = okcupid[okcupid.status=='unknown']
#print(status_unknowns)
#print(len(status_unknowns))

In [74]:
okcupid.sex.value_counts()

m    35829
f    24117
Name: sex, dtype: int64

Sex is only in two vales: 'm' or 'f'

In [76]:
okcupid.orientation.value_counts()

straight    51606
gay          5573
bisexual     2767
Name: orientation, dtype: int64

Orientation is 'straight', 'gay' and 'bisexual'
Seen here large majority is straight, followed by gay then bisexual

In [77]:
okcupid.body_type.value_counts()

average           14652
fit               12711
athletic          11819
thin               4711
curvy              3924
a little extra     2629
skinny             1777
full figured       1009
overweight          444
jacked              421
used up             355
rather not say      198
Name: body_type, dtype: int64

average           14652, 
fit               12711, 
athletic          11819, 
thin               4711, 
curvy              3924, 
a little extra     2629, 
skinny             1777, 
full figured       1009, 
overweight          444, 
jacked              421, 
used up             355, 
rather not say      198

In [61]:
#okcupid.dtypes # done in .info()

In [58]:
#okcupid.describe()