# Ok Cupid Dataset EDA

This dataset was picked on the name alone to do an initial clean and EDA.
The dataset is completly unfamiliar to me - I want to practice familiarising myself with the set and seeing what I can learn about it, to see what further investigation can stem from it.

In [6]:
# initial imports and check file is readable
import pandas as pd
okcupid = pd.read_csv('OkCupid_kaggle_dataset.zip')

In [7]:
print(okcupid.head((10)))

   age     status sex orientation       body_type               diet  \
0   22     single   m    straight  a little extra  strictly anything
1   35     single   m    straight         average       mostly other
2   38  available   m    straight            thin           anything
3   23     single   m    straight            thin         vegetarian
4   29     single   m    straight        athletic                NaN
5   29     single   m    straight         average    mostly anything
6   32     single   f    straight             fit  strictly anything
7   31     single   f    straight         average    mostly anything
8   24     single   f    straight             NaN  strictly anything
9   37     single   m    straight        athletic    mostly anything

       drinks      drugs                          education  \
0    socially      never      working on college/university
1       often  sometimes              working on space camp
2    socially        NaN     graduated from masters program
3    socially        NaN      working on college/university
4    socially      never  graduated from college/university
5    socially        NaN  graduated from college/university
6    socially      never  graduated from college/university
7    socially      never  graduated from college/university
8    socially        NaN  graduated from college/university
9  not at all      never        working on two-year college

             ethnicity  ...  \
0         asian, white  ...
1                white  ...
2                  NaN  ...
3                white  ...
4  asian, black, other  ...
5                white  ...
6         white, other  ...
7                white  ...
8                white  ...
9                white  ...

                                              essay0  \
0  about me:  i would love to think that i was so...
1  i am a chef: this is what that means. 1. i am ...
2  i'm not ashamed of much, but writing public te...
3          i work in a library and go to school. . .
4  hey how's it going? currently vague on the pro...
5  i'm an australian living in san francisco, but...
6  life is about the little things. i love to lau...
7                                                NaN
8                                                NaN
9  my names jake. i'm a creative guy and i look f...

                                              essay1  \
0  currently working as an international agent fo...
1  dedicating everyday to being an unbelievable b...
2  i make nerdy software for musicians, artists, ...
3          reading things written by old dead people
4                         work work work work + play
5  building awesome stuff. figuring out what's im...
6                         digging up buried treasure
7  writing. meeting new people, spending time wit...
8  oh goodness. at the moment i have 4 jobs, so i...
9  i have an apartment. i like to explore and che...

                                              essay2  \
0  making people laugh. ranting about a good salt...
1  being silly. having ridiculous amonts of fun w...
2  improvising in different contexts. alternating...
3  playing synthesizers and organizing books acco...
4  creating imagery to look at: http://bagsbrown....
5  imagining random shit. laughing at aforementio...
6  frolicking witty banter using my camera to ext...
7  remembering people's birthdays, sending cards,...
8                                                NaN
9  i'm good at finding creative solutions to prob...

                                              essay3  \
0  the way i look. i am a six foot half asian, ha...
1                                                NaN
2  my large jaw and large glasses are the physica...
3                  socially awkward but i do my best
4            i smile a lot and my inquisitive nature
5  i have a big smile. i also get asked if i'm we...
6                              i am the last unicorn
7  i'm rather approachable (a byproduct of being ...
8  i'm freakishly blonde and have the same name a...
9                                          i'm short

                                              essay4  \
0  books: absurdistan, the republic, of mice and ...
1  i am die hard christopher moore fan. i don't r...
2  okay this is where the cultural matrix gets so...
3  bataille, celine, beckett. . . lynch, jarmusch...
4  music: bands, rappers, musicians at the moment...
5  books: to kill a mockingbird, lord of the ring...
6  i like books. ones with pictures. reading them...
7  i like: alphabetized lists, aquariums, autobio...
8  i am always willing to try new foods and am no...
9  i like some tv. i love summer heights high and...

                                              essay5  \
0                  food. water. cell phone. shelter.
1  delicious porkness in all of its glories. my b...
2  movement conversation creation contemplation t...
3                                                NaN
4                                                NaN
5  like everyone else, i love my friends and fami...
6  laughter amazing people in my life color curio...
7  friends, family, notebook/pen, books, music, t...
8  sports/my softball glove coffee. because nobod...
9  music, my guitar contrast good food my bike my...

                                              essay6  \
0                        duality and humorous things
1                                                NaN
2                                                NaN
3                         cats and german philosophy
4                                                NaN
5  what my contribution to the world is going to ...
6  synchronicity  there is this whole other realm...
7                   things that amuse and inspire me
8                                                NaN
9                                         you should

                                              essay7  \
0  trying to find someone to hang out with. i am ...
1                                                NaN
2  viewing. listening. dancing. talking. drinking...
3                                                NaN
4                                                NaN
5                               out with my friends!
6  plotting to take over the world with my army o...
7  out and about or relaxing at home with a good ...
8  in or out... drinking with friends, maybe a ba...
9                                     send a message

                                              essay8  \
0  i am new to california and looking for someone...
1  i am very open and will share just about anyth...
2  when i was five years old, i was known as "the...
3                                                NaN
4                                                NaN
5  i cried on my first day at school because a bi...
6                            my typical friday night
7                                                NaN
8  potential friends/lovers/people who come in co...
9                                        and say hi.

                                              essay9
0  you want to be swept off your feet! you are ti...
1                                                NaN
2  you are bright, open, intense, silly, ironic, ...
3                              you feel so inclined.
4                                                NaN
5                                    you're awesome.
6                                                NaN
7                                                NaN
8  http://www.youtube.com/watch?v=4dxbwzuwsxk let...
9                             you can rock the bells

[10 rows x 31 columns]

In [2]:
okcupid.shape

(59946, 31)

This set has 59946 rows and 31 columns

## Duplicates check

Index(['age', 'status', 'sex', 'orientation', 'body_type', 'diet', 'drinks',
       'drugs', 'education', 'ethnicity', 'height', 'income', 'job',
       'last_online', 'location', 'offspring', 'pets', 'religion', 'sign',
       'smokes', 'speaks', 'essay0', 'essay1', 'essay2', 'essay3', 'essay4',
       'essay5', 'essay6', 'essay7', 'essay8', 'essay9'],
      dtype='object')

,age,status,sex,orientation,body_type,diet,drinks,drugs,education,ethnicity,...,essay0,essay1,essay2,essay3,essay4,essay5,essay6,essay7,essay8,essay9
count,59946.000000,59946,59946,59946,54650,35551,56961,45866,53318,54266,...,54458,52374,50308,48470,49409,49096,46175,47495,40721,47343
unique,NaN,5,2,3,12,18,6,3,32,217,...,54347,51516,48625,43520,49257,48961,43583,45548,39323,45440
top,NaN,single,m,straight,average,mostly anything,socially,never,graduated from college/university,white,...,.,enjoying it.,listening,my smile,ask me,family,my future,out with friends,ask me,you want to.
freq,NaN,55697,35829,51606,14652,16585,41780,37724,23959,32831,...,12,61,82,529,16,6,161,89,45,200
mean,32.340290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,9.452779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,18.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,26.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,30.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,37.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,110.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN